body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f7f8f7;
    color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}
